body {
    background: #15182e;
}

.card {
    max-width: 20%;
    margin-left: 39%;
}

#MainFishBanner {
    max-width: 100%;
}

.info {
    margin-left: 39%;
    margin-bottom: 9%;
}

.card-title {
    padding-bottom: 20px;
}











